<div  ng-controller="plotController" data-ng-init="init()">
    <div class="container">
        <div class="row header">
            <div class="col-sm-12 col-lg-12 col-md-12 headerList"></div>
            <div class="headerName col-sm-12 col-lg-12 col-md-12">PlotReader</div>
        </div>
        <div class="row main">
        <div class="col-sm-2 col-lg-2 col-md-2 navBar ">
            <ul class="navItems">
                <li>DOWNLOAD</li>
                <li>CONFIGURE</li>
                <li>RESULT</li>
                <li>SEND RESULT TO EMAIL</li>
                <li>CONTACT US</li>
            </ul>
        </div>

            <div class="col-sm-10 col-lg-9 col-md-9 col-md-offset-1 col-lg-offset-1 imagedownl ng-show-add " ng-show="imgVariable">
                <div class="downloadForm">
                    <input type="file"  id="file" class="inputfile" fileread="uploadme" />
                    <label for="file" fileread="uploadme">Choose a image</label>
                    <br/>
                </div>
            <div class="img">
                <img src="{{uploadme}}" width="800" height="400"  alt="Image preview...">
            </div>
            </div>
            <div class="row main ng-show-add" ng-show="configVariable">
                <div class="col-sm-8 col-lg-8 col-md-8 plot"><img src="{{uploadme}}" width="900"  alt="Image preview..."></div>
                <div class="col-sm-4 col-lg-4 col-md-4 config"></div>
            </div>

    </div>
</div>
 