<div  ng-controller="plotController" data-ng-init="init()">
    <div class="container">
        <div class="row header">
            <div class="col-sm-12 col-lg-12 col-md-12 headerList"></div>
            <div class="headerName col-sm-12 col-lg-12 col-md-12">PlotReader</div>
        </div>
        <div class="row main">
        <div class="col-sm-2 col-lg-2 col-md-2 navBar ">
            <ul class="navItems">
                <li ng-click = "showDownload()">DOWNLOAD</li>
                <li ng-click = "showConfig()">CONFIGURE</li>
                <li ng-click = "showResult()">RESULT</li>
                <li ng-click = "showSend()">SEND RESULT TO EMAIL</li>
                <li ng-click = "showContact()">CONTACT US</li>
            </ul>
        </div>

            <div class="col-sm-10 col-lg-9 col-md-9 col-md-offset-1 col-lg-offset-1 imagedownl ng-show-add " ng-show="imgVariable">
                <div class="downloadForm">
                    <input type="file"  id="file" class="inputfile" fileread="uploadme" />
                    <label for="file" fileread="uploadme">Choose a image</label>
                    <br/>
                </div>
            <div class="img">
                <img src="{{uploadme}}" width="800" height="400"  alt="Image preview...">
            </div>
            </div>

            <div class="col-sm-10 col-lg-9 col-md-9 col-md-offset-1 col-lg-offset-1 config ng-show-add row" ng-show="configVariable">
                <div class = "col-sm-12 col-lg-6 col-md-6 ">
                    <canvas width="500" height="300" id="canvas" image-cropper image="uploadme" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="10" crop-area-bounds="bounds" class = "imgCrop"></canvas>
                    <br>
                    <br>
                    <div class="crop" ng-click = "crop()">CROP </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6">
                    <form action="" class="resultForm">
                        X:
                        <input type="text" placeholder="-10">
                        <input type="text" placeholder="10">
                        <br>
                        Y:
                        <input type="text" placeholder="-10">
                        <input type="text" placeholder="10">
                        <br>
                        H:
                        <input type="text" placeholder="0.1">
                        <br>
                        <br>
                        <input type="submit" value="RESULT" class="getResult">

                    </form>
                </div>

            </div>

            <div class="col-sm-10 col-lg-9 col-md-9 col-md-offset-1 col-lg-offset-1 result ng-show-add" ng-show="resultVariable">
            </div>

            <div class="col-sm-10 col-lg-9 col-md-9 col-md-offset-1 col-lg-offset-1 send ng-show-add" ng-show="sendVariable">
            </div>

            <div class="col-sm-10 col-lg-9 col-md-9 col-md-offset-1 col-lg-offset-1 contact ng-show-add" ng-show="contactVariable">
            <form class="responseForm">
                <input type="text" placeholder="Your name" ng-model = "name" required="true">
                <br>
                <textarea ng-model="response" cols="30" rows="10" placeholder="Your response or question" required="true"></textarea>
                <br>
                <br>
                <br>
                <input type="submit" class="sendResponse" ng-click = "sendResponse(name, response)" value = "SEND">
            </form>
            </div>
    </div>
</div>
 