body {
	background-color: black;
}

#square {
	width: 550px;
	height: 550px;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: 115px;
	transform: rotate(-45deg);
}

#circ1 {
	width: 785px;
	height: 785px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: 50px;
}

#circ2 {
	width: 885px;
	height: 885px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: 50px;
}
#circ3{
	width: 985px;
	height: 985px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: 50px;
}
#circ4 {
	width: 1085px;
	height: 1085px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: 50px;
}

#circ5 {
	width: 1185px;
	height: 1185px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: 50px;
}
#circ6{
	width: 1285px;
	height: 1285px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: 50px;
}
#circ7 {
	width: 1385px;
	height: 1385px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid white;
	margin: auto;
	margin-top: -290px;
}
