//--------------------------------------start--------------------------------------------------------
* { margin: 0; padding: 0;}

body, html {width:100%; height:100%; overflow: hidden;}

canvas {
	display:block;
	z-index: 1;
}
.buttomStart {
	width: 250px;
	height: 300px;
	margin-top: 0px;
	background-color: rgba(200, 200, 200, 0.4);
	text-align: center;
	font-size: 50px;
	color: rgba(100, 0, 0, 0.9);
	float: right;
	margin-top: -164px;
}
.startContainer {
	position: absolute;
	background-color: rgba(200, 200, 200, 0.1);
	width: 100%;
	height: 300px;
	margin-top: 200px;
}

.buttomStart:hover {
	background-color: rgba(200, 200, 200, 0.6);
}
.link {
	margin: auto;
	margin-top: 100px;
	width: 100px;
	height: 100px;
	border: 3px solid rgba(200, 200, 200, 0.9);
	border-radius: 50%;
	color: rgba(200, 200, 200, 0.9);
	font-size: 60px;
}
.headerText {
	color: rgba(139, 0, 0, 0.8);
	font-size: 50px;
	font-weight: bold;
	text-shadow: 0 0 3px rgba(150, 150, 150, .5);
}
.headerDescript {
	color: white;
	font-weight: bold;
	font-size: 30px;
}

.text {
	margin-top: 50px;
	margin-left: 50px;
}

//---------------------------------------------------plot-reader-------------------------------
body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.header {
	margin: 0;
	height: 60px;
	background: rgba(80, 80, 80, 1);}

.headerList {
	height: 60px;
	margin: 0px;
	background: rgba(50, 50, 50, 1);
	position: fixed;
}

.headerName {
	height: 80px;
	width: 100%;
	text-align: left;
	color: rgba(250, 250, 250, 1);
	font-weight: bold;
	font-size: 30px;
}

.navBar {
	height: 700px;
	background: rgba(80, 80, 80, .2);
}

ul .item {
 display: inline-block;
 margin-top: 30px;
 width: 90%;
 height: 100px;
 background: rgba(100, 0, 0, 0.7);
 color: rgba(250, 250, 250, 1);
 text-align: center;
 font-size: 20px;
 font-weight: bold;
 box-sizing: border-box;
 padding: 20px;
 border-radius: 2px;
 transition: .5s all;
}

ul .menuItem:hover {
 width: 100%;
 transition: .5s all;
}
.imagedownl, .result, .send, .config, .contact {
	height: 700px;
	background: rgba(80, 80, 80, .2);
	margin-left: 50px;
}

.config-group {
	margin-top: 100px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label, .sendResponse, .crop, .getResult, .sendOnEmail {
    font-weight: 700;
    color: white;
    background-color: rgba(16, 78, 139, 0.9);
	width: 150px;
    height: 60px;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
	display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover, .sendResponse:hover, .crop:hover, .getResult:hover, .sendOnEmail:hover {
    background-color: rgba(100, 0, 0, 0.7);
}

.downloadForm {
	margin-top: 20px;
	width: 150px;
	display: inline-block;
	margin-right: 50px;
}

.img {
	width: 900px;
	margin: auto;
	margin-top: 20px;
}

.imageSimple {
	width: 600px;
}

.imgConf {
	width: 400px;
	margin-top: 20px;
}

.responseForm {
	width: 600px;
	margin: auto;
	margin-top: 50px;
}

.responseForm input[type="text"], .responseForm textarea {
	width: 600px;
	margin-top: 50px;
}

.imgCrop {
	margin-top: 20px;
}

.resultForm {
	margin-top: 50px;

}

.resultForm input[type="text"] {
	width: 100px;
	margin-right: 20px;
	margin-top: 20px;
	height: 40px;
}

// .headerDescrText {
// 	height: 80px;
// 	color: rgba(100, 0, 0, 0.9);
// 	text-align: center;
// 	font-size: 25px;
// 	margin-top: 0px;
// 	font-size: 20px;
// 	font-weight: bold;
// }


// .main {
// 	width: 100%;
// 	padding: 0;
// 	margin: 0;
// 	background: rgba(200, 200, 200, 1);
// 	height: 600px;
// }

// .plot {
// 	border-right: 1px solid gray;
// 	height: 600px;
// }


// .nexButtom:hover {
// 	background: red; 
// }

// .downloadImg:hover {
// 	background: green;
// }

// .nexButtom, .downloadImg {
// 	height: 50px;
// 	width: 20%;
// 	margin: auto;
// 	font-family: Courier New;
// 	color: white ;
// 	font-size: 20px;
// 	background: #3498db ; 
// 	padding: 10px 20px 10px 20px;
// 	text-decoration: none;
// 	text-align: center;
// }

// .nextButtom {
// 	margin-top: 200px;
// }

// .downloadImg {
// 	margin-top: 100px;
// 	margin-bottom: 20px;
// }

// .imagedownl {
// 	width: 100%;
// 	height: 600px;
// 	background: grey;
// 	margin: auto;
// 	position: absolute;
// 	float: left;
// }

// .downloadForm {
// 	width: 500px;
// 	margin: auto;
// }


.ng-show-add {
 animation: 1s lightSpeedOut ease;
}

@keyframes lightSpeedOut {
  100% {
    opacity: 1;
  }
90% {
    opacity: .9;
  }

80% {
    opacity: .6;
  }

70% {
    opacity: .5;
  }
0% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

input[type="file"] {
	height: 50px;
	width: 200px;
	margin: auto;
	margin-top: 100px;
}

.table {
	width: 700px;
	margin: auto;
	margin-top: 20px;
}

.table tr td, .table tr th {
	width: 50%;
	text-align: center;
	height: 30px;
	font-size: 15px;
	font-weight: 100;
}
.table tr td {
	border: 1px  solid gray;
	background-color: white;
}

.table tr th {
	background-color: rgba(51, 122, 183, .5);
}

.pagination {
	float: right;
	margin: auto;
	margin-top: 10px;
}

.icon-download {
	position: relative;
	display: block;
	width: 12.5rem;
	height: 5rem;
	margin: auto;
	border: solid 2.5rem rgba(16, 78, 139, 1);
	border-top: none;
}
.icon-download:before, .icon-download:after {
	content: '';
	display: block;
	position: absolute;
	animation: icon-bounce .5s infinite alternate;
}
.icon-download:before {
	left: 2.5rem;
	top: -2.5rem;
	width: 2.5rem;
	height: 2.5rem;
	background: rgba(16, 78, 139, 1);
}
.icon-download:after {
	left: 1.25rem;
	top: -.65rem;
	width: 0;
	height: 0;
	border-left: solid 2.5rem transparent;
	border-right: solid 2.5rem transparent;
	border-top: solid 2.5rem rgba(16, 78, 139, 1);
}

@keyframes icon-bounce {
	from {
		transform: translateY(-15px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes white-pulse {
	from {
		color: rgba(255, 255, 255, 0.2);
	}
	to {
		color: rgba(255, 255, 255, 0.5);
	}
}

.emailForm {
	margin-left: 20%;
	margin-top: 200px;
}

.emailForm input[type="email"] {
	width: 60%;
	height: 40px;
	margin-left: 10%;
}
.sendOnEmail {
	margin-left: 20%;
}

.iconDownload {
	margin-top: 150px;
}

.export-table {
	margin-top: 1000px;
}

.exportItems li {
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	width: 100px;
	height: 50px;
	background: #409640;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	transition: .5s all;
}

.exportItems li:hover {
	width: 110px;
	height: 60px;
	transition: .5s all;
}

.exportItems li a {
	color: white;
	font-weight: bold;
}
